body {
    background-color: #0000FF; /* This is blue */
  }
  
  h1 {
    color: #F0F725;
    text-align: center;
    font-size: 50px;
  }
 
  p {
    color: white;
    font-family: 'Gill Sans';
    padding: 15px 150px 15px 150px;
    text-align: center;
    font-size: 25px;
  } 
  p.important {border-style:solid; display: inline-block;border-width: 5px;border-color: #D97ED3;}
 /*I wanted for the link to the song to not be noticeable unless hover over, cause is more of a resource and i wouldn't want it to take attention from the description */
a.one:link {color:white;text-decoration:none}
a.one:visited {color:white;text-decoration:none}
a.one:hover {color:#D97ED3;text-decoration:underline;}

  a.two:link, a:visited {
    background-color: #A8BF54;
    color: white;
    padding: 50px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  figure{
    float: left;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent:0 ;
    border: thin #A1E0A4 solid;
    padding-top:100 ;
  }
  figcaption{
    caption-side: bottom;
  }

  a.two:hover, a:active {
    background-color: #797ED9;
  }  /*As for the links I thought it would look better to have them as buttoms so people feel more called to click */
 
  img {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    border-radius: 50%;
  }  /*I think the radius looks like a good touch make it merge better with the information around it  */
  </style>